# Note: These files are kept for development purposes only.
!tools/launch.template.json
!tools/settings.template.json
!tools/setup_vscode.py
!extensions.json
!tasks.json

# Ignore all other files
.python.env
*.json

# Template files copied from binary installed IsaacSim 4.5 for pip installed vscode setting
!isaacsim/*